{{ 'section-natural-ingredients.css' | asset_url | stylesheet_tag }}

<div class="page-width">
  <div class="natural-ingredients--wrapper">
    <div class="natural-ingredients-heading">
    {% if section.settings.heading_one != blank %}
      <h6>{{ section.settings.heading_one }}</h6>
      {% endif %}
      {% if section.settings.heading_two != blank %}
      <h2>{{ section.settings.heading_two }}</h2>
    {% endif %}
    {% if section.settings.description != blank %}
      {{ section.settings.description }}
      {% endif %}
    </div>
    <div class="natural-ingredients-box--wrapper"> 
        {% for block in section.blocks %}
            {% if block.settings.imae != blank %}
            <div class="natural-ingredients-box">
                <div class="natural-ingredients-img">
                <img src="{{ block.settings.imae | img_url:"1024x1024" }}" alt="" height="" width="" />
                </div>
                <div class="natural-ingredients-content">
                <h4>{{ block.settings.heading }}</h4>
                <p>{{ block.settings.description }}</p>
                {% render 'icon-round-arrow' %}
                </div>
            </div>
            {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Natural Ingredients",
    "settings": [
        {
            "type": "text",
            "id": "heading_one",
            "label": "Heading one"
        },
        {
            "type": "text",
            "id": "heading_two",
            "label": "Heading Two"
        },
        {
            "type": "richtext",
            "id": "description",
            "label": "Description"
        }
    ],
    "blocks": [
        {
            "type": "image",
            "name":"Image",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "imae",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading"
                },
                {
                    "type": "richtext",
                    "id": "description",
                    "label": "Description"
                }
            ]
        }
    ],
    "presets" : [
      {
        "name": "Natural Ingredients"
      }
    ]
  }
{% endschema %}